body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    padding: 20px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

/* Product Card */
.product-card {
    width: 260px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

/* Product name */
.product-name {
    font-size: 14px;
    margin: 10px 0 5px;
}

.product-brand {
    font-size: 16px;
    margin: 10px 0 5px;
}

/* Description */
.product-desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

/* Bottom section */
.product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Price */
.price {
    font-size: 18px;
    font-weight: bold;
    color: #1a73e8;
}

/* Add to Cart Button */
.add-cart-btn {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.2s;
}

.add-cart-btn:hover {
    background: #155bb8;
}

/* Disabled state */
.add-cart-btn:disabled {
    background: #b3b3b3;   /* light gray */
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.cart-icon {
    font-size: 16px;
}

.remove-cart-btn {
    background: #df6363;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.2s;
}

/* Disabled state */
.remove-cart-btn:disabled {
    background: #b3b3b3;   /* light gray */
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.remove-cart-btn:hover {
    background: #d83636;
}

.icon svg {
  stroke: white;
}

.star-rating {
  position: relative;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
}

.star-rating .stars-outer::before,
.star-rating .stars-inner::before {
  content: "★★★★★";        /* 5 stars */
}

.star-rating .stars-outer {
  color: #ccc;              /* gray stars */
}

.star-rating .stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #f6b400;           /* filled (yellow) stars */
  width: 0;                 /* will be set dynamically */
}


